<div class="mssge">
    {% if message.author == user %}
        <div class="message-sent">
            {% if message.body %}
                {{ message.body }}
            {% else %}
                <img src="{{ message.file.url }}"/>
            {% endif %}
        </div>
    {% else %}
        <div class="message-recv">
            <span class="author">{{message.author}}</span><br/>
            {% if message.body %} 
                {{ message.body }}
            {% else %}
                <img src="{{ message.file.url }}"/>
            {% endif %}
        </div>
    {% endif %}
</div>
